<!DOCTYPE html>
<html>
  <body>
    <form method="/checkout" action="POST">
      <label for="item" id="item">Item to Purchase: </label>
      <input type="text" id="item">
    </form>
  </body>
</html>
